<%- include("../components/Organisms/LayoutTop") %>
<section>
    <div>
        <ul>
            <li>
                <a href="/custom-scrollbar">
                    @itkyk/custom-scrollbar
                </a>
            </li>
        </ul>
    </div>
</section>
<script src="/assets/js/index.js"></script>
<%- include("../components/Organisms/LayoutBottom") %>