<div class="code">
    <div code-css="wrap">
        <pre>
            <h2 code-css="title"><%= type.toUpperCase() %> Code</h2>
            <code class="language-<%=type%>">
                <%= children %>
            </code>
        </pre>
    </div>
</div>