<%# const contents = children%>
<div class="viewport">
    <div viewport-css="wrap">
        <h2 viewport-css="title">View Port</h2>
        <div viewport-css="contents">
            <%- children() %>
        </div>
    </div>
</div>